.footer {
	min-height: 300px;
	background-color: $footer-red;
	padding-top: 5%;
	padding-bottom: 5%;
	@include h4-tag();
	color: black;

	a {
		color: white;
	}

	li {
		list-style-type: none;
	}

	span {
		color: white;
	}

	.our-team {
		display: inline-block;
		margin-left: -10%;
		padding-bottom: 5%;

		@include respond-to(medium-screens) {
			margin-left: 0;
		}

		@include respond-to(handhelds) {
			margin-left: 0;
		}
	}

	@include respond-to(medium-screens) {
		p {
			padding-right: 5%;
		}
	}

	.address {
		padding-top: 10%;
		font-family: $font-basic;
		color: black;
		font-weight: normal;

		strong {
			color: black;
		}

		a {
			color: black;
		}

		p {
			margin-bottom: 0;
		}

		&.first {
			padding-top: 1%;
		}

		@include respond-to(handhelds) {
			padding-top: 3%;
		}

		@include respond-to(medium-screens) {
			padding-top: 3%;
		}
	}

	.extra-links {
		line-height: 3em;
		ul {
			padding: 0;
			margin-top: -5%;
			min-width: 100px;
		}

		em {
			color: white;
			font-size: .7em;
			position: relative;
			margin-top: 0;
		}

		@include respond-to(handhelds) {
			padding-top: 10%;
			line-height: 2em;
		}

		@include respond-to(medium-screens) {
			padding-top: 8%;
			line-height: 2em;
		}
	}

	.social {
		display: inline-block;
		.social-links {
			padding: 0;
			margin: 0;
			width: 85%;
			float: right;

			li {
				float: left;
				padding-right: 3%;
			}

			a {
				display: block;
				overflow: hidden;
				width: 32px;
				height: 33px;
				text-indent: -9000px;
			}

			.twitter {
				@include background('../img/social-icons.png');
			}

			.facebook {
				@include background('../img/social-icons.png', -41px 0);
			}

			.youtube {
				@include background('../img/social-icons.png', -81px 0);
			}

			.gplus {
				@include background('../img/social-icons.png', -123px 0);
			}

			.linkedin {
				@include background('../img/social-icons.png', -164px 0);
			}

			@include respond-to(handhelds) {
				float: left;
				padding-top: 7%;
				padding-bottom: 7%;
				width: 120%;
			}

			@include respond-to(medium-screens) {
				float: left;
				padding-top: 7%;
				padding-bottom: 7%;
				width: 120%;
			}

			@include respond-to(wide-screens) {
				width: 95%;
			}
		}
	}
}