.group-teaser {
	background-color: $group-blue;
	min-height: 60%;
	@include background('../img/group-bg.jpg');
	background-size: cover;

	@include respond-to(handhelds) {
		background-position: 50%;
	}

	@include respond-to(medium-screens) {
		background-position: 50%;
	}

	@include respond-to(wide-screens) {
		background-position: 50%;
	}

	.middle {
		height: 540px;
		.group-content {
			@include vertical-center();
			padding-left: 1%;

			p {
				@include p-tag();
				color: white;
				line-height: 1.6em;

				@include respond-to(wide-screens) {
					font-size: 1.5em;
				}

				@include respond-to(medium-screens) {
					font-size: 1.5em;
				}

				@include respond-to(handhelds) {
					font-size: 1.3em;
				}
			}
		}

		@include respond-to(wide-screens) {
			height: 450px;
		}
	}
}