.navbar-default {
	border-color: none;
	border-radius: 0;
	border: none;
	background-color: black;
	margin-bottom: 0;

	.container-fluid {
		padding-top: .5em;
		padding-bottom: .5em;
	}

	.navbar-nav {
		li {
			a {
				font-family: $font-stack;
				font-size: 1.1em;
				letter-spacing: .08em;
				color: white;
				text-transform: uppercase;

				&:hover {
					color: $grey2;
				}
			}
		}
	}
}

.navbar-brand {
	padding: 0;
	margin: 0;
	padding-left: 5em;
	padding-top: .25em;

	@include respond-to(handhelds) {
		padding-left: 1em;
	}

	@include respond-to(medium-screens) {
		padding-left: 1em;
	}
}