.home-teaser {
	background-color: white;
	min-height: 82.5%;

	.content-right {
		padding-top: 5%;

		@include respond-to(handhelds) {
			padding-left: 3%;
		}

		@include respond-to(medium-screens) {
			padding-left: 3%;
		}
	}

	h1 {
		font-family: $font-stack;
		font-weight: 400;
		font-size: 6.5em;
		text-transform: uppercase;
		color: $footer-red;
		line-height: 1em;

		@include respond-to(wide-screens) {
			font-size: 5em;
		}

		@include respond-to(medium-screens) {
			font-size: 3em;
		}

		@include respond-to(handhelds) {
			font-size: 3em;
		}
	}

	p {
		padding-top: 3%;
		padding-bottom: 5%;
		padding-right: 2%;
		@include p-tag();

		@include respond-to(wide-screens) {
			font-size: 1.5em;
		}

		@include respond-to(medium-screens) {
			font-size: 1.8em;
		}

		@include respond-to(handhelds) {
			font-size: 1.5em;
		}
	}

	.hero {
		padding-top: 5%;
		height: 733px;
		overflow: hidden;
		display: block;
		width: 100%;
		padding-right: 5%;
		text-align: center;

		@include respond-to(wide-screens) {
			height: 635px;
		}

		@include respond-to(medium-screens) {
			height: 450px;
			padding-right: 0;
			img {
				margin-left: -3%;
			}
		}

		@include respond-to(handhelds) {
			height: 400px;
			padding-right: 0;
			img {
				width: 85%;
			}
		}
	}
}