@mixin word-wrap() {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

@mixin respond-to($media) {
	@if $media == handhelds {
		@media only screen and (max-width: $break-small) { @content; }
	}
	@else if $media == medium-screens {
		@media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
	}
	@else if $media == wide-screens {
		@media only screen and (min-width: $break-large) and (max-width: $break-large) { @content; }
	}
}

@mixin p-tag() {
	font-family: $font-stack;
	font-weight: 300;
	font-size: 2em;
	color: $grey3;
}

@mixin h4-tag() {
	h4 {
		font-family: $font-stack;
		font-weight: 700;
		font-size: 1.2em;
		color: white;
	}
}

@mixin vertical-center() {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin background($imgpath, $position:0 0, $repeat: no-repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
    }
}