@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

$grey1: #818181;
$grey2: #a1a1a1;
$grey3: #666666;
$footer-red: #f13124;
$group-blue: #043b4f;

$font-stack: 'Open Sans', sans-serif;
$font-basic: sans-serif;

$break-small: 320px;
$break-large: 1024px;